/* duvida de cores: 
Night: #171614

*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; ;
}

header{
    background-color: #171614;
    height: 80vh;
}

.container_navbar{
    font-size: 1.8vw;
    position: fixed;
    display: flex;
    color: rgb(255, 255, 144);
    background-color: #171614;
    width: 100%;
    padding: 5vh 5vw 5vh 66vw;
}

.navbar_items{
    padding-left: 2vw;
}

nav > h1 {
    color: white;
    font-size: 3.5vw;
    padding: 15vh 0vw 0vh 5vw;
}

section > h1{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #040029;
    font-size: 40px;
    padding: 3vh 0vw 0vh 5vw;
    height: 1000px; 
}