/* duvida de cores: 
Night: #171614
white
Steel Blue: #2081C3
Jonquil: #F0C808

*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; ;
}

:root{
    --cor0: #171614;
    --cor1: #ffffff;
    --cor2: #2081C3;
    --cor3: #F0C808;
}

.tema_night{ /* Tema Escuro */
    background-color: var(--cor0);
}

.titulo1{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: var(--cor3);
    font-size: 3vw;
    padding: 3vh 0vw 0vh 5vw;
}

.titulo2{ /* SOBRE MIM */
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: var(--cor2);
    font-size: 3vw;
    padding: 3vh 0vw 0vh 5vw;
    
}

header{ /* Cabeçalho */
    background-color: var(--cor0);
    padding-bottom: 3vw;
}

.container_navbar{ /* Menu de Navegação */
    font-size: 1.6vw;
    position: fixed;
    display: flex;
    color: var(--cor3) ;
    background-color: var(--cor0);
    width: 100%;
    padding: 0vh 5vw 0vh 0vw;
    align-items: center;
}

#item0{
  padding-right: 45vw;
  font-size: 5vw;
  color: var(--cor2);
}

.navbar_items{
    padding-left: 2vw;
}


nav > h1 { /* Palavra BLOG*/
    color: var(--cor1);
    font-size: 4vw;
    padding: 15vh 0vw 0vh 5vw;
}

nav > h2 {
    color: var(--cor1);
    font-size: 1.5vw;
    padding: 0.5vh 0vw 0vh 5vw;
    text-decoration: underline var(--cor2);
}

#cabecalho_dizeres{
    text-align: right;
    padding: 0vh 5vw 0vh 0vw;

}

.container1_section1{
    display: flex;
    text-align:left;
    padding: 3vh 5vw 0vh 5vw;
}

.container1_section1_items{
    font-size: 1.4vw;
}

#sobreMim_texto{ /* Sobre Mim - Texto */
    text-align: justify;
    padding-right: 10vw;
}

#fotoPessoal{ /* Sobre Mim - Pessoal */
    width: 22vw;
}

#tagFechamento{
    font-size: 5vw;
    color: var(--cor2);
    text-align: right;
    padding-right: 2vw;
}

#tagFechamento2{
    font-size: 5vw;
    color: var(--cor2);
    text-align: right;
    padding-right: 2vw;
}

#secao2{
    height: 80vh;
    color: var(--cor3);
}

#secao3{
    height: 80vh;

}